form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
form input{
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 10px;
}
form button{
    padding: 8px;
    border-radius: 8px;
    background-color: #ADD8E6;
}
form span{
    color: #DC143C;
    font-size: 12px;
    margin-bottom: 4px;
}